/* .image-container {
    display: flex;
    gap: 10px;
}
img {
    width: 100px;
    height: auto;
    cursor: pointer;
} */

/* 
table, th, td {
    border: 1px solid black;
    padding: 8px;
    border-collapse: collapse;
    text-align: left;
}
button {
    color: white;
    background-color: red;
    border: none;
    padding: 5px;
    cursor: pointer;
} */

